global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 debug

defaults
  log global
  log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"
  option httplog
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8081
  stats enable
  stats uri /
  stats refresh 10s

frontend default
  bind *:8080
  
  acl host_opconnectapi hdr_beg(host) -i op-connect-api.
  acl host_opconnectsync hdr_beg(host) -i op-connect-sync.
  acl host_pxe hdr_beg(host) -i pxe.

  use_backend op-connect-api if host_opconnectapi
  use_backend op-connect-sync if host_opconnectsync
  use_backend pxe if host_pxe

  default_backend whoami

backend op-connect-api
  mode http
  server s1 op-connect-api:8080 check

backend op-connect-sync
  mode http
  server s1 op-connect-sync:8080 check

backend pxe
  mode http
  server s1 shoelaces:8081 check

backend whoami
  mode http
  server s1 whoami:2001 check
