global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 debug

defaults
  mode http
  log global
  option httplog
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
# timeout tunnel available in ALOHA 5.5 or HAProxy 1.5-dev10 and higher
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor

frontend stats
  bind *:8081
  stats enable
  stats uri /
  stats refresh 10s

frontend default
  bind *:8080
  
  acl host_opconnectapi hdr_beg(host) -i op-connect-api.
  acl host_opconnectsync hdr_beg(host) -i op-connect-sync.
  acl host_pxe hdr_beg(host) -i pxe.
  acl host_uptime hdr_beg(host) -i uptime.

  use_backend op-connect-api if host_opconnectapi
  use_backend op-connect-sync if host_opconnectsync
  use_backend pxe if host_pxe
  use_backend uptime if host_uptime

  default_backend whoami

backend op-connect-api
  server s1 op-connect-api:8080 check

backend op-connect-sync
  server s1 op-connect-sync:8080 check

backend pxe
  server s1 shoelaces:8081 check

backend uptime
  server s1 uptime:3001 maxconn 10000 weight 10 cookie s1 check

backend whoami
  server s1 whoami:2001 check
